# Byte-compiled / optimized Python files
dd_mcdft/__pycache__/
publication_data/
*.pyc
*.pyo
*.pyd

# Environment-specific settings
.env

# Compiled Python files
*.pyc
*.pyo

# Python virtual environment
venv/
env/

# Local development settings
*.swp
*.swo
*.log
*.bak
*.db
*.sqlite3

# Dependency management
pip-wheel-metadata/
pip-egg-info/
dist/
build/

# IDE-specific files and directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.sage
*.sage.py

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System and temporary files
.DS_Store
Thumbs.db

# Compiled Python modules and packages
dd_mcdft/__pycache__/
*.pyc
*.pyo
*.pyd

# Editor backup files
*~

# Log files
*.log

# Other temporary files
*.bak
*.swp
*.swo
*.db
*.sqlite3
